@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Questrial&display=swap");

:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

/* CSS on Nav */
nav {
  background-color: var(--primary-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translate(-100%);
}
nav .logo {
  padding: 30px 0;
  text-align: center;
}
nav .logo img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}
nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}
nav ul li a:hover {
  text-decoration: underline;
}

/* CSS on header  */
header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 130%;
  position: relative;
text-align: center;
  padding: 40px 15px;
}
header h1 
{
  margin: 0;
}

header p{
  margin: 30px 0;
}
button,input[type='submit']
{
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
 
}
button:focus
{
  outline: none;
}
.toggle
{
  padding: 5px 10px;
  position: absolute;
  top: 20px;
  left: 10px;
background-color: rgba(0,0,0,0.3);
}
.cta-btn
{
  padding: 12px 30px;
  font-size: 20px;
}
